# vi: ft=yaml
groups:    
  example:
    desc: "example"
    dest: "/home/user/"
    hosts:
      - "host1"
      - "host2"
    install_files:
      - ["example/src_dir", "example/dest_dir"]
      - ["example/src_file", "example/dest_file"]
    post_install_cmds:
      - ["example_cmd", "example_dir"]
    sync_files:
      - ["example/src_file", "example/dest_file"]
    max_backups: 3
